apiclient==1.0.3
appdirs==1.4.2
cachetools==2.1.0
click==6.7
Flask==0.12
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
httplib2==0.11.3
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
oauth2client==4.1.2
packaging==16.8
pathlib==1.0.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
pyparsing==2.1.10
rsa==3.4.2
six==1.10.0
uritemplate==3.0.0
urllib3==1.26.5
Werkzeug==0.11.15
