body, h1, h2, h3, h4, p {font-family: sans-serif;}
h1 {font-size:3em;}
h2{font-size: 1.5em; margin-top: .4rem; margin-bottom: .6rem;border-bottom: 1px solid #dedede;}

.header {display: flex;align-items: center;justify-content: flex-start;height: 8rem;padding: 1rem;}
.header h1 {margin: 1rem;display: block;}
.header p {display: inline-block; font-size: 2em; line-height: 2em;}
.header img {display: inline-block; height:8rem; }

nav.breadcrumb {display: block; padding: 1rem;}
.breadcrumb li {display:inline-block; float:left;}
.breadcrumb li + li:before {
    content: "/";
    margin: 0 0.7em 0 0.7em;
    display: inline-block;
    font-size: 1em;
}

.settings_list { padding: 1rem;}
.settings_list table, .settings_list td, .settings_list th {border: 2px solid #3c3c3c;padding:.2em;}

form .label_input_pair {display: flex; width:20em; justify-content: space-between; align-items: center}
form#settings_form label, form#settings_form input, form#settings_form button {margin:1em;}
form#settings_form {display: flex;justify-content:center;align-items: stretch;align-content: space-around;}
form#settings_form>section{display:inline-block;margin: 3em;}
form#settings_form button { margin-left: auto; margin-right: auto; position: relative; display: block; }
form#settings_form output { display: inline-block; width: 3rem;}
.label_input_pair + .label_input_pair {border-top:1px solid #e6e6e6;}
form#settings_form textarea {display:block;}
form#settings_form canvas {-webkit-box-shadow: 0px 2px 10px 0px rgba(143,143,143,1);
-moz-box-shadow: 0px 2px 10px 0px rgba(143,143,143,1);
box-shadow: 0px 2px 10px 0px rgba(143,143,143,1);}

.nametag_preview {display:inline-block;width: 22rem;float:right; padding: 1rem; box-sizing: border-box;}
.nametag_preview.hidden {display:none;}
#nametag_preview_surrogate {display:inline-block; border: 1px solid #3c3c3c; }

.thankyou_text {display: block; text-align:center;font-size: 2.3em; line-height: 2.5em;}

/*#printer_list [data-printer-online="true"]::before {content: '\25CF'; color: #00ff00; margin-right:0.5em;}
#printer_list [data-printer-online="false"]::before {content: '\25CF'; color: #ff0000; margin-right:0.5em;}*/
#printer_list [data-printer-online="true"]::after {content: '(online)'; color: #00ff00; margin-left:0.5em;}
#printer_list [data-printer-online="false"]::after {content: '(offline)'; color: #ff0000; margin-left:0.5em;}
#printer_list [data-status="idle"]{background-color:#0f0;}
#printer_list [data-status="printing"]{background-color:#0ff;}
#printer_list [data-status="stopped"]{background-color:#f00;}

fieldset.gender_picker {display: block;}
fieldset.gender_picker .label_input_pair {display:inline-block;}
form  fieldset.gender_picker .label_input_pair {width:auto}
form fieldset.gender_picker label {margin:0.5rem}
fieldset.gender_picker input[type="radio"]{ margin-left: auto; margin-right: auto; position: relative; display: block;}
fieldset.gender_picker .label_input_pair + .label_input_pair {border-top:none}