body, h1, h2, h3, h4, p {font-family: sans-serif;}
h1 {font-size:3em;}
h2{font-size: 1.2em; margin-top: .4rem; margin-bottom: .6rem;}

.header {display: flex;align-items: center;justify-content: flex-start;height: 8rem;padding: 1rem;}
.header h1 {margin: 1rem;}
.header p {display: inline-block; font-size: 2.5em; line-height: 2.5em;}
.header img {display: inline-block; height:8rem; }

form .label_input_pair {display: flex; width:20em; justify-content: space-between; align-items: center}
form#settings_form label, form#settings_form input, form#settings_form button {margin:1em;}
form#settings_form {display: flex;justify-content:center;align-items: stretch;align-content: space-around;}
form#settings_form>section{display:inline-block;margin: 5em;}
form#settings_form button { margin-left: auto; margin-right: auto; position: relative; display: block; }
form#settings_form output { display: inline-block; width: 3rem;}
.label_input_pair + .label_input_pair {border-top:1px solid #e6e6e6;}
form#settings_form textarea {display:block;}
form#settings_form canvas {-webkit-box-shadow: 0px 2px 10px 0px rgba(143,143,143,1);
-moz-box-shadow: 0px 2px 10px 0px rgba(143,143,143,1);
box-shadow: 0px 2px 10px 0px rgba(143,143,143,1);}

.nametag_preview {display:inline-block;width: 50%;float:right; padding: 2rem; box-sizing: border-box;}
.nametag_preview.hidden {display:none;}
#nametag_preview_surrogate {display:inline-block; border: 1px solid #3c3c3c; }

.thankyou_text {display: block; text-align:center;font-size: 2.3em; line-height: 2.5em;}

#printer_list [data-status="idle"]{background-color:#0f0;}
#printer_list [data-status="printing"]{background-color:#0ff;}
#printer_list [data-status="stopped"]{background-color:#f00;}